################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GP.Tender.Service/bin
/GP.Tender.Service/obj
/UzEx.Dapper.Oracle/obj
/UzEx.Dapper.Oracle/bin
/GP.Tender.Service/obj
/GP.Tender.API/bin/Debug
/GP.Tender.API/bin/Development
/GP.Tender.API/obj/Development
/GP.Tender.API/obj/Debug
/GP.Tender.API/obj
/GP.Tender.API/bin
/GP.Tender.Service/obj
/GP.Tender.Data/obj
/GP.Tender.Data/bin
*/bin/
*/obj/
/GP.Tender.Service/obj
/GP.Tender.API/wwwroot/files/2020
/GP.Tender.API/Logs
/deploy/ui
/GP.Tender.API/Logs
/.vscode
/GP.Tender.UI/.vs/GP.Tender.UI/v15/Server/sqlite3
/GP.Tender.UI/Properties/PublishProfiles
/GP.Tender.UI/ClientApp/.vscode/launch.json
/GP.Tender.UI/.vs/GP.Tender.UI/v15
/GP.Tender.UI/.vs/GP.Tender.UI/DesignTimeBuild
/GP.Tender.API/wwwroot/files/reports
